.middleSection {
    width: 80%;
    height: 550px;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    border-radius: 3px;
    justify-content: center;
}

.leftImageSection {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formSection {
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.formContainer {
    height: 500px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.songCoverAndTitleParentContainer {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    width: 90%;
    justify-content: center;
    margin-top: 20px;
    /* justify-content: space-between; */
}

.pianoImage {
    width: 200px;
    height: 500px;
    background-image: url("../../../public/images/piano\ Image.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.rightImage{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 3px;
}

.micImage { 
    width: 200px;
    height: 500px;
    background-image: url("../../../public/images/mic\ Image.jpeg");
    background-size: cover;
    background-position:center;
    background-position-x: 35%;
}

.uploadText {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    font-size: 20px;
}

.imageInput {
    width: 87px;
    margin-bottom: 15px;
}

span {
    margin-bottom: 15px;
}

.imageBox {
    width: 250px;
    height: 250px;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(135deg,#846170,#70929c);
}

.uploadSongForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    /* background-color: blueviolet; */

}

.songAndTitleContainer{
    display: flex;
    flex-direction: column;
    height: 40%;
    /* justify-content:space-evenly; */
    width: 200px;
    /* background-color: #f50; */
    margin-left: 50px;
}

.titleInput {
    width: 170px
}

.songInput {
    /* margin-left: 10px; */
}

.loading {
  border: 3px solid #f50;
  border-top-color: #000000;
  border-radius: 30%;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.uploadButtonAndLoadingIcon {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#uploadSongButton {
    margin-bottom: 10px;
    text-decoration: none;
    border: none;
    background-color: #f50;
    width:200px;
    height: 40px;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.errorsDiv {
    height: fit-content;
    width: 200px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #f50;
    padding: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.errorLi {
    margin-top: 10px;
}

.titleInputContainerUploadSong {
    display: flex;
    /* align-items: center; */
    margin-bottom: 50px;
    flex-direction: column;
    height: fit-content;
    /* background-color: bisque; */
    margin-left: 50px;
    margin-top: 20px;
}

.titleTextContainerUploadSong {
    display: flex;
    justify-content: flex-start;
    width: 165px
}

#title {
    font-size: 13px;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    margin-bottom: 5px;
}

.songFileLabel {
    margin-bottom: 5px;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
}
