.middleSection {
    width: 60%;
    height: 900px;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 46px;
}

.leftImageSection {
    width: 250px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSection {
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
}

.formContainer {
    height: 600px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.pianoImage {
    width: 200px;
    height: 600px;
    background-image: url("../../../public/images/piano\ Image.jpeg");
    background-size: cover;
    background-position: center;
}

.rightImage{
    width: 250px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.micImage { 
    width: 200px;
    height: 600px;
    background-image: url("../../../public/images/mic\ Image.jpeg");
    background-size: cover;
    background-position:center;
    background-position-x: 35%;
}

.uploadText {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageInput {
    width: 87px;
    margin-bottom: 15px;
}

span {
    margin-bottom: 15px;
}

.imageBox {
    width: 250px;
    height: 250px;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(135deg,#846170,#70929c);
}

.uploadSongForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;

}

.songAndTitleContainer{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content:space-evenly;
    width: 200px
}

.titleInput {
    margin-left: 10px;
}

.songInput {
    margin-left: 10px;
}

.loading {
  border: 3px solid #f50;
  border-top-color: #000000;
  border-radius: 30%;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.uploadButtonAndLoadingIcon {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#uploadSongButton {
    margin-bottom: 10px;
}