.artistSongsComponentContainer {
    width: 819px;
    height: 307px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.artist-Name-Artist-Songs-Component {
    margin-bottom: 30px;
    margin-left: 80px;
    font-size: 20px;
}

.rec.rec-arrow {
    border-radius: 0;
    color: #f50
}
/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
}

.kRvpeg {
    display: none;
}