#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#EditFormContent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  height: 400px;
  width: 400px;
}
.deleteSongButton {
    width: 45.848px;
    background: none;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    height: 25px;
}

.editSongButton { 
    width: fit-content;
    background: none;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    height: 25px;
}

.editSongForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newImage {
  height:200px;
  width: 200px;
  background-image: linear-gradient(135deg,#846170,#70929c);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#editSongText {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editSongAndTitleContainer {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content:space-evenly;
    width: 200px
}

.editSongUploadButton {
    text-decoration: none;
    border: none;
    background-color: #f50;
    width:300px;
    height: 40px;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
}

.uploadEditSongButtonContainer {
  width: fit-content;
  height: 120px;
  display: flex;
  /* background-color: aquamarine; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}